@font-face {
    src: url ('../fonts/Lato-fonts/Lato-Black.ttf');
    src: url ('../fonts/Lato-fonts/Lato-BlackItalic.ttf');
    src: url ('../fonts/Lato-fonts/Lato-Bold.ttf');
    src: url ('../fonts/Lato-fonts/Lato-BoldItalic.ttf');
    src: url ('../fonts/Lato-fonts/Lato-Hairline.ttf');
    src: url ('../fonts/Lato-fonts/Lato-HairlineItalic.ttf');
    src: url ('../fonts/Lato-fonts/Lato-Italic.ttf');
    src: url ('../fonts/Lato-fonts/Lato-Light.ttf');
    src: url ('../fonts/Lato-fonts/Lato-LightItalic.ttf');
    src: url ('../fonts/Lato-fonts/Lato-Regular.ttf');
    font-family: 'Lato';
}

@font-face {
    src: url ('../fonts/Raleway/Raleway-Regular.ttf');
    src: url ('../fonts/Raleway/Raleway-Black.ttf');
    src: url('../fonts/Raleway/Raleway-BlackItalic.ttf');
    font-family: 'Raleway';
}

.wrapper {
    margin: auto;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.containerInNav {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#playGame {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1ABC9C;
    color: white;
    outline: none;
    border: none;
    width: 100px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    overflow: visible;
    background: white;
}

#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;

}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    display: block;
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

.pages_page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
    background-image: url('../images/unsplash01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.github {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h3_pages {
    color: white;
    text-align: center;
    font-family: 'Lato';
    font-weight: 700;
    padding-bottom: 10px;
    text-shadow: 1px 1px 15px #000;
}

.github>div>a>img {
    width: 300px;
}

.github>div>div>a>img {
    width: 300px;
}

.whiteBox {
    display: flex;
    align-items: center;
    height: 205.47px;
    background-color: white;
}

/* HEADER */

header {
    color: #222;
}

#logo {
    margin-top: 30px;
    float: left;
    /* outline: none; */
}

.nav-wrapper ul {
    float: right;
    list-style: none;
}

.nav-wrapper ul li {
    float: left;
    display: inline-block;
    border-right: 1px solid #e6e6e6;
}

.nav-wrapper ul li:last-child {
    border-right: 0;
}

.nav-wrapper ul li a {
    border-top: 5px solid white;
    display: inline-block;
    margin-left: 0px;
}

.nav-wrapper ul li a:hover {
    border-top-color: rgb(22, 163, 135);
    background: #1ABC9C;
}

.nav-wrapper>ul>li>a:hover:not(:last-child) {
    border-right: 1px solid #1ABC9C;
}

.nav-wrapper>ul>li>a:hover {
    color: whitesmoke;
}

.h2 {
    font-size: 0.75em;
    font-weight: 700;
}

.h3 {
    display: block;
    font-size: 0.7em;
    padding-top: 12px;
}

.nav-wrapper>ul>li>a {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: black;
}

.table {
    padding: 20px 20px;
}

/* HEADER */

/* MAIN */

/* CAROUSEL */
#div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
}

.item img {
    filter: brightness(50%);
}

#div>h2 {
    z-index: 200;
    color: whitesmoke;
    text-shadow: 1px 1px 15px #000;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1px;
}

#div>p {
    z-index: 200;
    color: whitesmoke;
    text-shadow: 1px 1px 15px #000;
    text-align: center;
    line-height: 35px;
    padding-top: 10px;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1.15em;
}


.owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
}

/* CAROUSEL */

/* CALL-TO-ACTION */
.call-to-action {
    width: 100%;
    background-color: #5D4157;
}

.call-to-action>div {
    position: relative;
    width: 80%;
    margin: auto;
    padding-bottom: 25px;
}

#call-to-action-div {
    width: 80%;
    margin: 25px auto 0px auto;
    text-align: -webkit-center;
}

#call-to-action-div>p {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 1.3em;
    color: #ffffffcb;
    font-weight: 300;
}

#call-to-action-div>a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    padding-left: 14px;
    display: inline-block;
}

#call-to-action-div>a>div {
    display: inline;
}

/* CALL-TO-ACTION */

/* JUMBOTRON */
#descriptionTitle {
    padding: 50px 0px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 40px;
}

#descriptionTitle>h3 {
    font-weight: bold;
    font-size: 1.3em;
    color: #444444;
}

#descriptionTitle>p {
    font-weight: 400;
    color: #909090;
}

/* JUMBOTRON */


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#outer-temperature-wrapper {
    height: 160px;
    background: linear-gradient(rgb(146, 202, 209), rgb(45, 147, 173));
}

#temperature-wrapper {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#temp-result {
    width: 250px;
    justify-content: space-between;
}

#weather-div {
    display: flex;
    justify-content: space-between;

}

#temp-degree {
    text-align: center;
}


#weather-div>p,
#temp-degree {
    font-family: "Lato";
    font-weight: 800;
    letter-spacing: 0.4px;
    color: white;
}

.descriptionThree {
    float: left;
    width: 33.33%;
    min-height: 300px;
    overflow: auto;
    padding: 0px 40px 0px 40px;
}

.descriptionThree:first-child {
    padding-left: 0;
}

.descriptionThree:last-child {
    padding-right: 0;
}

.descriptionThree>h3 {
    color: #444444;
    padding: 15px 0;
    border-bottom: 2px solid #1abc9c;
    font-weight: 700;
}

.descriptionThree>h3>span {
    color: #1abc9c;
}

.descriptionThree>p {
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    color: #858585;
}




#divContainer {
    padding: 3rem 0rem;
    width: 100%;
    background-color: #f1f1f1;

}

#innerDiv {
    margin: auto;
    width: 80%;
    background-color: #f1f1f1;
}


.row {
    margin: 8px -16px;
}


.column {
    float: left;
    width: 25%;
    display: none;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #f1f1f1;
    padding: 10px;
}

.content>p {
    padding-top: 0.8rem;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
}

.content>h4 {
    font-weight: 600;
    padding-top: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: 0;
    outline: 2px solid #f1f1f1;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #222;
}



/* Add a dark background color to the active button */
.btn.active {
    background-color: #1ABC9C;
    color: white;
}

.content>img {
    width: 100%;
}

/* SPONSORS */
.sponsorContainer {
    margin-top: 50px;
    margin-bottom: 30px;
}

.sponsors {
    color: green;
    width: 100%;
}

.sponsorsDiv {
    float: left;
    text-align: center;
    width: 16.5%;
}


.owl-carousel {
    display: none;
}

.game_page {
    width: 100%;
    height: 650px;
    position: relative;
}

.game_page > img {
    width: 100px;
}

.portfolio_page {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ef5160;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SPONSORS */

/* MAIN */

/* CONTACTS_PAGE */

.contacts_page>div>ul>li {
    padding: 15px 0px;
    list-style-type: none;
    font-family: 'Lato';
}

#contacts-mail>i {
    padding-right: 5px;

}

#contacts-phone>i {
    padding-left: 5px;
}

.fa-phone {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

#contacts-phone,
#contacts-mail {
    text-decoration: none;
    color: #333;
}

/*=================FORM================= */

#contacts-btn-div {
    font-family: 'Lato';
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: #858585;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    height: 50px;
}

#contacts-btn-submit {
    background: none;
    border: none;
    padding: 16px 20px;
    line-height: 14px;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    background-color: #222;
    -webkit-appearance: none;
    float: left;
    font-family: 'Montserrat';
    font-weight: 200;
    border-radius: 6px;
}

.contacts-form textarea,
input {
    outline: none;
    font-family: 'Lato';
    display: inline-block;
    width: 300px;
    resize: none;
    color: #222;
    font-size: 12px;
    padding: 15px 0;
    padding-left: 10px;
    background: #f9f9f9;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    position: relative;
}

.contacts_page {
    margin: auto;
    display: flex;
    background-image: url('../images/ContactMeBG.jpg');
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.status {
    color:#444;
    letter-spacing: 0px;
    font-family: 'Lato';
    font-weight: 600;
    line-height: 25px;
}

@media all and (max-width: 865px) {
    .contacts_page>div>ul {
        padding: 0;
    }

    .contacts_page {
        display: block;
        min-height: 600px;
    }

    .contacts_page>div {
        margin: auto;
        max-width: 312px;
        padding-top: 20px;
    }
}

@media all and (max-width: 865px) {
    .contacts_page {
        display: block;
        min-height: 600px;
    }

    .contacts_page>div {
        margin: auto;
        width: 60%;
    }
}

@media all and (max-width: 556px) {}

@media all and (max-width: 490px) {
    .contacts_page>div>ul>li>a {
        font-size: 13px
    }

    .contacts-form textarea,
    input {
        width: 250px;
    }
}

#button_form {
    padding: 20px 32px;
    font-size: 1em;
    background: #1abc9c;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    color: #fff;
    font-weight: 800;

}

#player {
    position: relative;
}

/* CONTACTS_PAGE */


@media all and (max-width:1280px) {
    /* #call-to-action-div>a>div {
        display: inline-block;
    } */

}

@media all and (max-width:1150px) {
    .column {
        width: 50%;
    }

    .descriptionThree>p {
        font-size: 0.88em;
    }

    .content {
        padding: 5px;
    }
}

@media all and (max-width: 1000px) {

    .owl-item,
    active>.item>p {
        font-size: 0.8em;
    }

    .descriptionThree>p {
        font-size: 0.78em;
    }

    .descriptionThree {
        padding: 0px 10px 0px 10px;
    }

    .table {
        padding: 20px 10px;
    }

    .h2 {
        font-size: 0.65em;
        font-weight: 700;
    }

    .h3 {
        display: block;
        font-size: 0.6em;
        padding-top: 12px;
    }

    .github {
        display: block;
    }
}

@media all and (max-width:900px) {
    #call-to-action-div>p {
        font-size: 1em;
    }

    .container>#call-to-action-div>p {
        font-size: 1em;
    }

    #check {
        font-size: 0.9em;
    }

    .sponsorsDiv {
        width: 50%;
    }

    .sponsorsDiv>img {
        margin: 20px 0px;
    }
}

@media all and (max-width:800px) {

    .owl-item,
    active>.item>p {
        font-size: 0.75em;
    }

    #div>p {
        padding-top: 5px;
        line-height: 20px;
    }

    #call-to-action-div {
        margin: 15px auto 0px auto;
    }

    .call-to-action>div {
        padding-bottom: 15px;
    }
}

@media all and (max-width:768px) {
    .containerInNav {
        width: 100%;
    }

    .game_page > img {
        width: 80px;
    }

    #logo {
        padding-left: 20px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .nav-wrapper {
        display: none;
        width: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
    }

    .nav-wrapper ul {
        display: block;
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        transform: translateX(-20px);
    }

    .nav-btn {
        position: absolute;
        right: 16px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: black;
        margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }

    .h2 {
        font-size: 1em !important;
    }

    .h3 {
        display: none;
    }

    .table {
        padding: 5px;
    }

    #logo {
        margin: 15px 0px;
        float: left;
    }

    .nav-wrapper ul li a:hover {
        border-top-color: white;
        background: none;
    }

    .nav-wrapper>ul>li>a:hover {
        color: #222;
    }

    .nav-wrapper ul li {
        border-right: none !important;
    }
}

@media all and (max-width:750px) {
    #div>h2 {
        font-size: 2.5em;
    }

    .container>#call-to-action-div>p {
        font-size: 0.85em;
    }

    #check {
        font-size: 0.75em;
    }

    #div>p {
        display: none;
    }
}

@media all and (max-width:650px) {

    .owl-item,
    active>.item>p {
        font-size: 0.7em;
        line-height: 20px;
    }

    #call-to-action-div {
        width: 100%;
    }

    #call-to-action-div {
        margin: 5px auto 0px auto;
    }

    .call-to-action>div {
        padding-bottom: 5px;
    }

    .descriptionThree {
        width: 50%;
    }

    .descriptionThree:last-child {
        padding-right: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

    .descriptionThree>h3 {
        letter-spacing: 0.6px;
    }
}

@media all and (max-width:600px) {

    #carousel-h {
        font-size: 1.9em !important;
    }

    .owl-dots {
        display: none;
    }
}

@media all and (max-width:500px) {
    .container>#call-to-action-div>p {
        font-size: 0.8em;
    }

    .item>img {
        height: 170px;
    }

    .descriptionThree {
        width: 100%;
        min-height: 200px !important;
    }

    .descriptionThree:first-child {
        padding: 0;
    }

    .descriptionThree:nth-child(2) {
        padding: 0;
    }

    .descriptionThree:last-child {
        padding: 0;
    }

    .btn {
        font-size: 0.8em;
    }

}

@media all and (max-width:430px) {
    .container>#call-to-action-div>p {
        font-size: 0.67em;
    }

    #call-to-action-div {
        margin: 2px auto 0px auto;
    }

    .call-to-action>div {
        padding-bottom: 2px;
    }
}

@media all and (max-width:380px) {
    #descriptionTitle>h3 {
        font-size: 1em;
    }

    #descriptionTitle>p {
        font-size: 0.85em;
    }

    .btn {
        width: 100%;
        font-size: 0.8em;
        padding: 8px 14px;
    }

    .sponsorsDiv {
        width: 100%;
    }
}

@media all and (max-width:300px) {
    #descriptionTitle>h3 {
        font-size: 0.9em;
    }

    #descriptionTitle>p {
        font-size: 0.75em;
    }
}

@media all and (max-width: 900px) {
    #temperature-wrapper {
        width: 80%;
    }
}

@media all and (max-width: 650px) {
    #temperature-wrapper {
        width: 90%;
    }

    #temp-result {
        width: 200px;
    }
}

@media all and (max-width: 500px) {
    #temperature-wrapper {
        width: 95%;
    }

    #temp-result {
        width: 150px;
    }
}

@media all and (max-width: 400px) {
    #temp-result {
        width: 100px;
    }
}